<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:minSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".ValetApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.ICApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.rollbar.android.ACCESS_TOKEN"
            android:value="c9132356458d4ad6aaa94d052336c6f5" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Activities.FullImageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ReportDamageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UpdateCaseReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UpdateDamageActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SetupFaceIDActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CarPlateScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TicketScannerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PickSideActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.FindVehicleActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.DepartureCaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NewCaseReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ArrivalCaseActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ArrivalActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ParentActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UpdateLogActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>